#body-background
{
    background:#e1dde6;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.btn
{
    font-family: monospace; font-size: 15px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px;
    /*width: 50%; */
    color: #ffffff;
    background-color: #460037;
}

.btn {
  transition-duration: 0.4s;
}

.btn:hover {
  background-color: #870069;
  color: #ffffff;
}